<div class="l-constrained">

  <div class="t-firm-name">
    <%= @firm.registered_name %>
  </div>

  <%= form_for @firm,
               url: dashboard_firm_path(@firm),
               builder: Dough::Forms::Builders::Validation,
               html: { class: 'form' } do |f| %>

    <% if @firm.errors.any? %>
      <div class="t-validation-summary">
        <%= f.validation_summary %>
      </div>
    <% end %>


    <section>
      <%= form_item f, :questionnaire, :email_address %>
      <%= form_item f, :questionnaire, :telephone_number %>
      <%= form_item f, :questionnaire, :address do %>
        <%= standard_field f, :address_line_one, label: t('questionnaire.address.label_one') %>
        <%= standard_field f, :address_line_two, label: t('questionnaire.address.label_two') %>
        <%= standard_field f, :address_town, label: t('questionnaire.address.label_three') %>
        <%= standard_field f, :address_county, label: t('questionnaire.address.label_four') %>
        <%= standard_field f, :address_postcode, label: t('questionnaire.address.label_five'), width: :medium  %>
      <% end %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.providing_your_services.heading'), level: 2, class: 'heading-small') %>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.providing_your_services.description') %></p>

      <%= form_checkbox_group f, :questionnaire, InPersonAdviceMethod %>
      <%= form_checkbox_group f, :questionnaire, OtherAdviceMethod %>
    </section>

    <section>
      <fieldset class="form__group form__group--inline">
        <legend class="l-questionnaire__legend"><%= t('questionnaire.free_initial_meeting.heading') %></legend>

        <%= f.form_row :free_initial_meeting do %>
          <%= f.errors_for :free_initial_meeting %>
          <div class="form__group-item">
            <label>
              <%= f.radio_button :free_initial_meeting, true, class: 'form__group-input t-free-initial-meeting-true' %>
              <%= t('questionnaire.free_initial_meeting.answer_yes') %>
            </label>
          </div>

          <div class="form__group-item">
            <label>
              <%= f.radio_button :free_initial_meeting, false, class: 'form__group-input t-free-initial-meeting-false' %>
              <%= t('questionnaire.free_initial_meeting.answer_no') %>
            </label>
          </div>
        <% end %>
      </fieldset>

      <fieldset class="form__group form__group--inline">
        <legend class="l-questionnaire__legend"><%= t('questionnaire.initial_meeting_duration.heading') %></legend>

        <%= f.form_row :initial_meeting_duration do %>
          <%= f.errors_for :initial_meeting_duration %>
          <% InitialMeetingDuration.all.each do |initial_meeting_duration| %>
            <div class="form__group-item">
              <label>
                <%= radio_button_tag 'firm[initial_meeting_duration_id]', initial_meeting_duration.id, @firm.initial_meeting_duration == initial_meeting_duration, class: 'form__group-input t-questionnaire__firm-initial-meeting-duration-id' %>
                <%= initial_meeting_duration.name %>
              </label>
            </div>
          <% end %>
        <% end %>
      </fieldset>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.service_charges.heading'), level: 2, class: 'heading-small') %>
      <p><%= t('questionnaire.service_charges.description') %></p>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.service_charges.hint') %></p>

      <%= form_checkbox_group f, :questionnaire, InitialAdviceFeeStructure %>
      <%= form_checkbox_group f, :questionnaire, OngoingAdviceFeeStructure %>
      <%= form_checkbox_group f, :questionnaire, AllowedPaymentMethod %>

      <fieldset class="form__group">
        <legend class="l-questionnaire__legend"><%= t('questionnaire.minimum_fixed_fee.heading') %></legend>

        <%= f.form_row :minimum_fixed_fee do %>
          <%= f.errors_for :minimum_fixed_fee %>
          <%= f.label :minimum_fixed_fee, t('questionnaire.minimum_fixed_fee.label'), class: 'form__label-heading', id: 'form-label-one' %>
          <span class="form__input-container form__input-container--medium">
            <span class="form__input-label" id="input-label-one-a">£</span>
            <%= f.text_field :minimum_fixed_fee, class: 'form__input t-minimum_fixed_fee', type: 'number', aria_labelledby: 'form-label-one input-label-one-a' %>
            <span class="form__input-outline"></span>
          </span>
        <% end %>
      </fieldset>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.retirement_advice.business_split.heading'), level: 2, class: 'heading-small') %>
      <p><%= t('questionnaire.retirement_advice.business_split.description') %></p>

      <fieldset class="form__group">
        <legend class="l-questionnaire__legend"><%= t('questionnaire.retirement_advice.business_split.subheading') %></legend>

        <%= f.form_row :percent_total do %>
          <%= f.errors_for :percent_total %>
          <p class="l-questionnaire__section-description l-questionnaire__section-description--collapsed"><%= t('questionnaire.retirement_advice.business_split.explanation') %></p>
        <% end %>

        <div class="l-questionnaire__row">
          <div class="l-questionnaire__field">
            <% t('questionnaire.retirement_advice.business_split.advice_options').each do |attribute, heading| %>
              <%= f.form_row attribute do %>
                <%= f.errors_for attribute %>
                <%= f.label attribute, raw(heading), class: 'form__label-heading', id: "form-label-#{attribute}".dasherize %>
                <span class="form__input-container form__input-container--small">
                  <%= f.text_field attribute, type: 'number', class: "form__input t-#{attribute.to_s.dasherize}", aria_labelledby: "form-label-#{attribute} input-label-#{attribute}-b".dasherize %>
                  <span class="form__input-label" id="<%= "input-label-#{attribute}-b".dasherize %>">%</span>
                  <span class="form__input-outline"></span>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>

        <section>
          <%= heading_tag(t('questionnaire.retirement_advice.business_split.footnotes.heading'), level: 3, class: 'heading-extra-small') %>
          <p id="other_description" class="footnote"><%= t('questionnaire.retirement_advice.business_split.footnotes.other_html') %></p>
        </section>
      </fieldset>

      <div class="notice">
        <%= heading_tag(t('questionnaire.retirement_advice.business_split.disclaimer.heading'), level: 3, class: 'heading-extra-small') %>
        <p><%= t('questionnaire.retirement_advice.business_split.disclaimer.text') %></p>
      </div>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.retirement_advice.typical_customer.heading'), level: 2, class: 'heading-small') %>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.retirement_advice.typical_customer.description') %></p>

      <fieldset class="form__group">
        <legend class="l-questionnaire__legend"><%= t('questionnaire.retirement_advice.pension_pot.heading') %></legend>
        <p><%= t('questionnaire.retirement_advice.pension_pot.description') %></p>
        <%= f.form_row :investment_sizes do %>
          <%= f.errors_for :investment_sizes %>
          <%= f.collection_check_boxes(:investment_size_ids, InvestmentSize.all, :id, :name) do |b| %>
            <div class="form__group-item">
              <%= b.label { b.check_box(class: 'form__group-input t-questionnaire__firm-investment-size-id') + b.text } %>
            </div>
          <% end %>
        <% end %>
      </fieldset>
    </section>

    <%= f.submit class: 't-save-button' %>

  <% end %>
</div>
